<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/screen.css" media="screen">
    <title>R2 Photo API | {{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ header }}</h1>
        <h2>{{ sub_header }}</h2>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/upload">Upload</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <p>&copy; 2026 Jeffery D. Mitchell</p>
    </footer>
    <script type="module" src="/static/datastar.js"></script>
</body>
</html>