<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/screen.css?v=5" media="screen">
    <title>crusty-metallian-net | {{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ header }}</h1>
        <h2>{{ sub_header }}</h2>
    </header>
    <nav>
        <a href="/">Home</a>
        {% if logged_in %}
        <a href="/upload">Upload</a>
        <a href="/gallery">Gallery</a>
        {% endif %}
        <a href="/galleries">Galleries</a>
        <a href="https://crusty-metallian.net">Back to Crusty Metallian</a>
        {% if logged_in %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <p>&copy; 2026 | Jeffery D. Mitchell | All Rights Reserved</p>
    </footer>
    <script type="module" src="/static/datastar.js?v=5"></script>
</body>
</html>